body{
    background: rgb(200, 192, 192);
}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background-color: rgb(34, 33, 33);
    text-align: center;
    padding: 60px;
    color: white;
    margin: 200px auto 0;
    box-shadow: 2px 10px 10px black;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.stopwatch h1{
    font-size: 100px;
    margin: 0;
}
#stop{
    width: 50px;
    cursor: pointer;
    margin: 20px;
}
#start{
    width: 80px;
    cursor: pointer;
    margin: 20px;
}
#reset{
    width: 50px;
    cursor: pointer;
    margin: 20px;
}